p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

a {
    text-decoration: none !important;
    color: #000;

}

li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul {
    padding-inline-start: 0px;
}


.header_logo_img {
    max-width: 170px;
    transition: .3s;
}

.header_logo_img:hover{
    transform: translate(0, -10px);
}

.header_personal_area_btn {
    background-color: #DB5C86;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;

}

.header_personal_area_btn:hover {

    transform: scale(1.1);
}

.header_maps_icon {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-bottom: 40px;
}

.header_addres {
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.header_show_map {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.header_show_map:hover {

    color: #DB5C86 !important;
}

.header_phone_icon {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-bottom: 40px;
}

.header_numbers {
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.header_working_hours {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.header_third_party_resources_btn {
    background-color: #DB5C86;
    width: 50px;
    height: 50px;
    border-radius: 0% 0% 0% 90%;
    border: none;
}

.header_third_party_resources_btn:hover {
    -webkit-transform: scale(1.1) translate(-4px, 4px);
    -ms-transform: scale(1.1) translate(-4px, 4px);
    transform: scale(1.1) translate(-4px, 4px);
}


.header_view_details_icon {
    width: 30px;
    height: 30px;
    margin-top: 6px;
}

.header_ministry_img {
    max-width: 100px;
}

.header_coat_img {
    max-width: 100px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    --bs-offcanvas-width: 200px !important;
}

.navbar {
    --bs-navbar-color: #fff !important;
    --bs-navbar-hover-color: #fff !important;
    --bs-navbar-active-color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    background-color: #DB5C86;
    text-shadow: 1px 2px 1px black;
    margin-top: 10px;


}

.nav-link {
    margin-left: 20px;
    margin-right: 20px;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.nav-link:hover {
    transform: translate(10px);
}

.navbar-collapse {
    justify-content: center;
    /* text-align: center; */
    display: inline-block;
}

.navbar-toggler {
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item {
    justify-content: center;
}

.footer_line {
    height: 40px;
    background-color: #DB5C86;
}

.footer_copyright {
    font-size: 14px;
    font-weight: 600;
    color: #fff;

}

.footer_title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer_menu_item {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}

.footer_menu_item a:hover {
    color: #DB5C86;
}

.footer_whatsapp_icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.footer_vk_icon {

    width: 30px;
    margin-right: 10px;
}

.footer_btn_up {
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.footer_btn_up::before {
    content: "";
    width: 60px;
    height: 60px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("/images/heart_balloon.png");
}

.footer_btn_up_hide {
    display: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

.home_background {
    background-color: #FCF6F5;

    padding: 10px;
}

.home_carousel {
    max-width: 1180px;
    padding: 0px;
}

#carouselExampleFade {
    max-height: 450px;
}

.carousel-item {
    height: 450px;
    background-size: cover;
    
}

.home_carousel_indicator {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #000 !important;
}

.home_carousel_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.home_carousel_text p{
    max-width: 600px;
    font-size: 24px;
    font-weight: 800;
    background-color: #f7d9d28b;
    
   -webkit-text-stroke: 1.2px #272424;
   -webkit-text-fill-color: white;
   padding: 10px;
   transform: scale(1, 1.1);
}



.home_subtitle {    
    color: #000;
    font-size: 21px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 40px;

}


